<div class="d-flex justify-content-center footer">
    <a href="https://github.com/NilsNaegele" class="icon" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/nilsnagele" class="icon" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/nilsnagele" class="icon" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://plus.google.com/u/0/+NilsNaegele" class="icon" target="_blank"><i class="fa fa-google-plus"></i></a>
    <a href="https://www.facebook.com/nils.holger.5" class="icon" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.xing.com/profile/NilsHolger_Naegele/cv" class="icon" target="_blank"><i class="fa fa-xing"></i></a>
    <a href="http://www.viadeo.com/p/0021efpf6c5vc6u9" class="icon" target="_blank"><i class="fa fa-viadeo"></i></a>
</div>
