<div *ngIf="post$ | async as post" class="container">

  <app-post-navigation [postIDInput]="post.id" [numberPosts]="postsLength"></app-post-navigation>

  <div class="mat-typography" [@changeAnimateMe]="post.id">

    <h2 class="font-weight-bold mb-4">
      <i>{{ post.date | date }}</i> - {{ post.title }}</h2>

    <div [ngSwitch]="post.id">
      <div *ngSwitchCase="1">
        <h1>{{ interpolation.name }}</h1>
        <pre class="pre">
              <code class="code">
                    {{ interpolation.code }}
              </code>
          </pre>
        <h1>{{ ngFor.name }}</h1>
        <pre class="pre">
              <code class="code">
                    {{ ngFor.code }}
              </code>
          </pre>
        <h1>{{ class.name }}</h1>
        <pre class="pre">
                <code class="code">
                      {{ class.code }}
                </code>
            </pre>
        <h1>{{ useHeroClass.name }}</h1>
        <pre class="pre">
                  <code class="code">
                        {{ useHeroClass.code }}
                  </code>
              </pre>
        <h1>{{ ngIf.name }}</h1>
        <pre class="pre">
                  <code class="code">
                        {{ ngIf.code }}
                  </code>
              </pre>
        <h1>Reference Materials</h1>
        <ul>
          <li *ngFor="let reference of references">
            <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
          </li>
        </ul>
        <p>We are all Open Source Heroes. May the force be with you! Use your superpowers to do good ... Together we can and
          we will make this world a better place, for all.
        </p>
      </div>
      <div *ngSwitchCase="2">

        <h1>{{ interpolationOne.name }}</h1>
        <pre class="pre">
                <code class="code">
                      {{ interpolationOne.code }}
                </code>
          </pre>

        <h1>{{ templateExpressionsExpressionContext.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ templateExpressionsExpressionContext.code }}
                </code>
          </pre>

        <h1>{{ templateStatementsStatementContext.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ templateStatementsStatementContext.code }}
                </code>
          </pre>

        <h1>{{ bindingSyntaxOverview.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ bindingSyntaxOverview.code }}
                </code>
          </pre>

        <h1>{{ newMentalModel.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ newMentalModel.code }}
                </code>
          </pre>

        <h1>{{ bindingTargets.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ bindingTargets.code }}
                </code>
          </pre>

        <h1>{{ propertyBinding.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ propertyBinding.code }}
                </code>
          </pre>

        <h1>{{ attributeBinding.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ attributeBinding.code }}
                </code>
          </pre>

        <h1>{{ classBinding.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ classBinding.code }}
                </code>
          </pre>

        <h1>{{ styleBinding.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ styleBinding.code }}
                </code>
          </pre>

        <h1>{{ eventBinding.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ eventBinding.code }}
                </code>
          </pre>

        <h1>{{ customEvents.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ customEvents.code }}
                </code>
          </pre>

        <h1>{{ twoWayBinding.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ twoWayBinding.code }}
                </code>
          </pre>

        <h1>{{ ngClass.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ ngClass.code }}
                </code>
          </pre>

        <h1>{{ ngStyle.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ ngStyle.code }}
                </code>
          </pre>


        <h1>{{ ngModel.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ ngModel.code }}
                </code>
          </pre>


        <h1>{{ ngIfStructuralDirective.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ ngIfStructuralDirective.code }}
                </code>
          </pre>

        <h1>{{ ngForOf.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ ngForOf.code }}
                </code>
          </pre>

        <h1>{{ ngSwitch.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ ngSwitch.code }}
                </code>
          </pre>

        <h1>{{ templateReferenceVariable.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ templateReferenceVariable.code }}
                </code>
          </pre>

        <h1>{{ inputOutputProperties.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ inputOutputProperties.code }}
                </code>
          </pre>

        <h1>{{ templateExpressionOperators.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ templateExpressionOperators.code }}
                </code>
          </pre>


        <h1>Reference Materials</h1>
        <ul>
          <li *ngFor="let reference of references">
            <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
          </li>
        </ul>
        <p>
          Talk is cheap, show me the code. Software is like sex, it's better when it's free. My name is Linus and I am your God. Open
          Source. Public Code. Public Domain. Code with passion ... YOLO.
        </p>
      </div>

      <div *ngSwitchCase="3">
        <h1>{{ allHooksParent.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ allHooksParent.code }}
                </code>
          </pre>
        <h1>{{ allHooksChild.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ allHooksChild.code }}
                </code>
          </pre>
        <h1>{{ loggerService.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ loggerService.code }}
                </code>
          </pre>
        <h1>{{ spyDirective.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ spyDirective.code }}
                </code>
          </pre>
        <h1>{{ spyComponent.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ spyComponent.code }}
                </code>
          </pre>
        <h1>{{ onChangesComponent.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ onChangesComponent.code }}
                </code>
          </pre>
        <h1>{{ doCheckComponent.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ doCheckComponent.code }}
                </code>
          </pre>
        <h1>{{ afterViewComponent.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ afterViewComponent.code }}
                </code>
          </pre>
        <h1>{{ afterContentComponent.name }}</h1>
        <pre class="pre">
                <code class="code">
                    {{ afterContentComponent.code }}
                </code>
          </pre>
        <h1>{{ counterComponent.name }}</h1>
        <pre class="pre">
                <code class="code">
                  {{ counterComponent.code }}
                </code>
          </pre>

        <h1>Reference Materials</h1>
        <ul>
          <li *ngFor="let reference of references">
            <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
          </li>
        </ul>
        <p>
          Code of Conduct. In the Constitution of my country Germany, everything starts with Article 1. Human dignity is inviolable,
          to honor and protect is the duty of all State Authorities. I add to honor and protect human dignity is the duty
          of all. We are all humans. We are all equal. All humans are created equal. Equality includes everyone ...
        </p>
      </div>

      <div *ngSwitchCase="4">
        <h1>{{ inputBinding.name }}</h1>
        <pre class="pre">
              <code class="code">
                {{ inputBinding.code }}
              </code>
        </pre>
        <h1>{{ inputWithSetterBinding.name }}</h1>
        <pre class="pre">
              <code class="code">
                {{ inputWithSetterBinding.code }}
              </code>
        </pre>
        <h1>{{ inputInterceptionWithNgOnChanges.name }}</h1>
        <pre class="pre">
              <code class="code">
                {{ inputInterceptionWithNgOnChanges.code }}
              </code>
        </pre>
        <h1>{{ parentListensForChildEvents.name }}</h1>
        <pre class="pre">
              <code class="code">
                {{ parentListensForChildEvents.code }}
              </code>
        </pre>
        <h1>{{ parentInteractsWitChildViaLocalVariable.name }}</h1>
        <pre class="pre">
              <code class="code">
                {{ parentInteractsWitChildViaLocalVariable.code }}
              </code>
        </pre>
        <h1>{{ parentCallsAtViewChild.name }}</h1>
        <pre class="pre">
              <code class="code">
                {{ parentCallsAtViewChild.code }}
              </code>
        </pre>
        <h1>{{ parentChildrenCommunicateViaService.name }}</h1>
        <pre class="pre">
              <code class="code">
                  {{ parentChildrenCommunicateViaService.code }}
              </code>
        </pre>
        <h1>{{ siblingComponentInteraction.name }}</h1>
        <pre class="pre">
              <code class="code">
                {{ siblingComponentInteraction.code }}
              </code>
        </pre>

        <h1>Reference Materials</h1>
        <ul>
          <li *ngFor="let reference of references">
            <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
          </li>
        </ul>
        <p>
          Copyright 2017-2018 Google Inc. All Rights Reserved. Use of this source code is governed by an MIT-style license that can
          be found in the LICENSE file at https://angular.io/license
        </p>
      </div>

      <div *ngSwitchCase="5">
        <h1>{{ componentStylesInComponentMetadata.name }}</h1>
        <pre class="pre">
            <code class="code">
              {{ componentStylesInComponentMetadata.code }}
            </code>
      </pre>
        <h1>{{ hostSelector.name }}</h1>
        <pre class="pre">
            <code class="code">
              {{ hostSelector.code }}
            </code>
      </pre>
        <h1>{{ cssInline.name }}</h1>
        <pre class="pre">
            <code class="code">
              {{ cssInline.code }}
            </code>
      </pre>
        <h1>{{ cssExternalFile.name }}</h1>
        <pre class="pre">
            <code class="code">
                {{ cssExternalFile.code }}
            </code>
      </pre>
        <h1>{{ templateInlineStyles.name }}</h1>
        <pre class="pre">
            <code class="code">
              {{ templateInlineStyles.code }}
            </code>
      </pre>
        <h1>{{ templateLinkTags.name }}</h1>
        <pre class="pre">
            <code class="code">
                {{ templateLinkTags.code }}
            </code>
      </pre>
        <h1>{{ cssAImports.name }}</h1>
        <pre class="pre">
            <code class="code">
              {{ cssAImports.code }}
            </code>
      </pre>
        <h1>{{ viewEncapsulation.name }}</h1>
        <pre class="pre">
            <code class="code">
                {{ viewEncapsulation.code }}
            </code>
      </pre>
        <h1>Reference Materials</h1>
        <ul>
          <li *ngFor="let reference of references">
            <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
          </li>
        </ul>
        <p>
          The will to win is nothing without the will to prepare. Code with passion. Code all the time.
          I have met my hero, he is me. It is at the borders of pain and suffering that the men are separated
          from the boys. When I look into their eyes, I know, I will beat them all. Tough times don't last
          but tough people do. You think you are awesome, try to walk on water. What I want is to be Number One.
          The spirit of Angular => WORK HARD | BE KIND | DO MORE ... Code with Passion!
        </p>
      </div>

     <div *ngSwitchCase="6">
    <h1>{{ anchorDirective.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ anchorDirective.code }}
          </code>
    </pre>
    <h1>{{ loadingComponents.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ loadingComponents.code }}
          </code>
    </pre>
    <h1>{{ selectorReferences.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ selectorReferences.code }}
          </code>
    </pre>
    <h1>{{ adService.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ adService.code }}
          </code>
    </pre>

<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
  Berlin, you are so wonderful. The capital of my country. I see the initial plans to
  build skyscrapers reaching the clouds. In my head, they have been built and throne
  above all. Berlin, you are the most beautiful woman in the world. My mother told me
  as a young boy that I am registered in Berlin. All Germans born abroad are registered
  in Berlin. So I have come home and I am a Berliner. It's been a long journey around this
  planet earth. Made with love and passion in Berlin 2018.
</p>
</div>
  <div *ngSwitchCase="7">
    <h1>{{ attributeDirective.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ attributeDirective.code }}
          </code>
    </pre>
    <h1>{{ hostComponent.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ hostComponent.code }}
          </code>
    </pre>
<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    I'm going to work so that it's a pure guts race at the end, and if it is, I am the only one who can win it.
    Marathons are about tenacity as much as talent. The marathon never ceases to be a race of joy, a race of wonder.
    Learn to run/code when feeling the pain, then push harder. To give anything less than your best is to sacrifice the gift.
    The hero developer is the developer with the photographic memory. High functioning autism. Fail fast, fail often.
    Make many new errors each day. Code all the time. Push the limits. Create new Angular Apps. Write new Tutorials.
    Contribute in Open Source Repositories on GitHub. Winners do the things loosers don't want to do. Do everything.
</p>
</div>
<div *ngSwitchCase="8">
    <h1>{{ birthdayPipe.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ birthdayPipe.code }}
          </code>
    </pre>
    <h1>{{ parameterizePipe.name }}</h1>
    <pre class="pre">
          <code class="code">
              {{ parameterizePipe.code }}
          </code>
    </pre>
    <h1>{{ chainingPipes.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ chainingPipes.code }}
          </code>
    </pre>
    <h1>{{ customPipe.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ customPipe.code }}
          </code>
    </pre>
    <h1>{{ powerBooster.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ powerBooster.code }}
          </code>
    </pre>
    <h1>{{ powerBoostCalculator.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ powerBoostCalculator.code }}
          </code>
    </pre>
    <h1>{{ flyingHeroesPipe.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ flyingHeroesPipe.code }}
          </code>
    </pre>
    <h1>{{ componentPipes.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ componentPipes.code }}
          </code>
    </pre>
    <h1>{{ impureAsyncPipe.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ impureAsyncPipe.code }}
          </code>
    </pre>
    <h1>{{ impureCachingPipe.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ impureCachingPipe.code }}
          </code>
    </pre>
    <h1>{{ heroListComponent.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ heroListComponent.code }}
          </code>
    </pre>
<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    Early to bed and early to rise will make a man healthy, wealthy and wise.
    Always think critically. CRITICAL THINKING.
    If that is the only lesson learned in University, it is the most valuable one.
    Most people have a hidden agenda. The human drivers are:
    Money, Sex, Power, Prestige, Fame, Knowledge ... Take advantage of ...
    Have fun in Life. Enjoy yourself. Be passionate. Get involved. Live every day as if it were
    the last. What would you do today if it were your last day on earth? Carpe Diem.
    Code with passion. Get married. Visit a new museum or art event. Climb a mountain ...
    Travel around the world ... Go Dancing ... Make friends ... Read a new book ...
    Build a New Angular App ... Create New Angular Tutorials ... Write a New Blog Post ...
    Contribute in Open Source Repositories in GitHub ... Create an Angular Library ...
</p>
</div>
 <div *ngSwitchCase="9">
    <h1>{{ technologyService.name }}</h1>
    <pre class="pre">
          <code class="code">
              {{ technologyService.code }}
          </code>
    </pre>
    <h1>{{ animationsModule.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ animationsModule.code }}
          </code>
    </pre>
    <h1>{{ globalCSS.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ globalCSS.code }}
          </code>
    </pre>
    <h1>{{ technologyTeam.name }}</h1>
    <pre class="pre">
          <code class="code">
              {{ technologyTeam.code }}
          </code>
    </pre>
    <h1>{{ basicState.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ basicState.code }}
          </code>
    </pre>
    <h1>{{ enterLeave.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ enterLeave.code }}
          </code>
    </pre>
    <h1>{{ stylesTransitions.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ stylesTransitions.code }}
          </code>
    </pre>
    <h1>{{ combinedTransitions.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ combinedTransitions.code }}
          </code>
    </pre>
    <h1>{{ twoWayTransitions.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ twoWayTransitions.code }}
          </code>
    </pre>
    <h1>{{ enterLeaveStates.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ enterLeaveStates.code }}
          </code>
    </pre>
    <h1>{{ autoStyleCalc.name }}</h1>
    <pre class="pre">
          <code class="code">
              {{ autoStyleCalc.code }}
          </code>
    </pre>
    <h1>{{ differentTimings.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ differentTimings.code }}
          </code>
    </pre>
    <h1>{{ multipleKeyframes.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ multipleKeyframes.code }}
          </code>
    </pre>
    <h1>{{ parallelGroups.name }}</h1>
    <pre class="pre">
          <code class="code">
            {{ parallelGroups.code }}
          </code>
    </pre>
    <h1>You want more of this Angular goodness?</h1>
    <pre class="pre">
          <code class="code">
            Matias Niemelä => Matias will eat all your food.
                              He will then animate all your
                              stuff while you go out to
                              buy more food.
                              http://www.yearofmoo.com
                              https://github.com/matsko
            Matias is a Viking. 2891 Contributions in the last year.
            Igor is Angular Team Lead. 4589 Contributions in the last year.
            Miško is the Father of Angular. 4718 Contributions in the last year.
            The boss makes the most contributions.
            How many contributions have you made? Plan to make this year?
            Accelerate ... Velocity ... Power ...
          </code>
    </pre>

<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    Love is the solution. Love yourself. Love your people.
    Love your environment. Love your technology ... WORK HARD | BE KIND | DO MORE ...
</p>
</div>
<!--<div *ngSwitchCase="10">
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    ABC.XYZ
</p>
</div>
<div *ngSwitchCase="5">
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    ABC.XYZ
</p>
</div>
<div *ngSwitchCase="5">
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    ABC.XYZ
</p>
</div>
<div *ngSwitchCase="5">
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    ABC.XYZ
</p>
</div>
<div *ngSwitchCase="5">
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    ABC.XYZ
</p>
</div>
<div *ngSwitchCase="5">
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
    <h1></h1>
    <pre class="pre">
          <code class="code">

          </code>
    </pre>
<h1>Reference Materials</h1>
<ul>
    <li *ngFor="let reference of references">
        <a href="{{ reference.link }}" target="_blank">{{ reference.name }}</a>
      </li>
</ul>
<p>
    ABC.XYZ
</p>
</div> -->

    </div>
  </div>
  <button type="button" class="btn btn-danger btn-lg" (click)="goToTop()">Top</button>
