<div class="d-flex justify-content-between mb-3">

    <div>
      <a class="previous white-color" routerLink="/post/{{previousPostID}}" routerLinkActive="active"
          (click)="onPrevious()" *ngIf="postID !== 1">
          <i class="fa fa-hand-o-left fa-3x" aria-hidden="true"></i>
          </a>
    </div>
    <div>
      <a class="next white-color" routerLink="/post/{{nextPostID}}" routerLinkActive="active"
          (click)="onNext()" *ngIf="postID !== numberPosts">
          <i class="fa fa-hand-o-right fa-3x" aria-hidden="true"></i>
      </a>
    </div>

</div>
